<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper
3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.DepartmentsMapper">
<resultMap id="Departments" type="org.example.domain.Departments">
    <id property="departmentId" column="department_id"></id>
    <result property="name" column="name"></result>
</resultMap>
<select id="findAll" resultMap="Departments">
    SELECT
        department_id,
        name
    FROM departments
</select>
<select id="findByDepartmentId" parameterType="org.example.form.DepartmentForm" resultMap="Departments">
    SELECT
        department_id
    FROM departments
    <if test="departmentForm.departmentId != null">
    WHERE
        department_id = #{departmentForm.departmentId}
    </if>
    <if test="departmentForm.name != null">
    WHERE
        name = #{departmentForm.name}
    </if>
</select>
</mapper>