<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper
3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.ItemsMapper">
<resultMap id="Items" type="org.example.domain.Items">
    <id property="itemCode" column="item_code"></id>
    <result property="itemName" column="item_name"></result>
    <result property="price" column="price"></result>
</resultMap>
<select id="findAll" resultMap="Items">
    SELECT
        item_code,
        item_name,
        price
    FROM items
</select>
<select id="findByItemCode" resultMap="Items">
    SELECT
        item_code,
        item_name,
        price
    FROM items
    WHERE
        item_code = #{itemCode}
</select>
<insert id="saveFromCsvItemMaster" parameterType="java.util.List">
    INSERT INTO items
        (item_code, item_name, price)
    VALUES
    <foreach collection="itemList" item="item" open="" separator="," close="">
        (#{item.itemCode}, #{item.itemName}, #{item.price})
    </foreach>
    ON DUPLICATE KEY UPDATE
        item_name =  VALUES(item_name),
        price = VALUES(price)
</insert>
</mapper>